{% extends 'baselayout/with-page-header/small.html.twig' %}


{% block title %}{{ project_name }} - Welcome{% endblock title %}

{% block background_image %}{{ asset(homePage.getRandBgImgAsset().getAssetPath()) }} {% endblock background_image %}

{% block page_header_content %}
	<div class="row align-items-center">
		<div class="col-md-7">
			<h1 class="title">{{ project_name }}: all the places you need, in one place.</h1>
		</div>
		<div class="col-sm-1"></div>
		<div class="col">
			<div class="card card-raised">
				<div class="container mt-3 mb-3">
					{{ form_start(basicSearchForm) }}
						<div class="row">
							<div class="col">
								<div class="form-group bmd-form-group">
									{{ form_label(basicSearchForm.startDate,
													'Start date',
													{'label_attr': {'class': 'label-control bmd-label-static'}}) }}
									{{ form_widget(basicSearchForm.startDate,
													{'attr': {'class': 'form-control datetimepicker'}}) }}
								</div>
							</div>
							<div class="col">
								<div class="form-group bmd-form-group">
									{{ form_label(basicSearchForm.endDate,
													'End date',
													{'label_attr': {'class': 'label-control bmd-label-static'}}) }}
									{{ form_widget(basicSearchForm.endDate,
													{'attr': {'class': 'form-control datetimepicker'}}) }}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group bmd-form-group">
									{{ form_label(basicSearchForm.region,
													'Region',
													{'label_attr': {'class': 'bmd-label-floating'}}) }}
									{{ form_widget(basicSearchForm.region,
													{'attr': {'class': 'form-control'}}) }}
								</div>
							</div>
							<div class="col">
								<div class="form-group bmd-form-group">
									<span class="pull-right">
										{{ form_widget(basicSearchForm.submitButton,
														{'label': 'Search',
															'attr': {'class': 'btn btn-md btn-round btn-primary'}}) }}
									</span>
								</div>
							</div>
						</div>
					{{ form_end(basicSearchForm) }}
				</div>
			</div>
		</div>
	</div>
{% endblock page_header_content %}

{% block main %}
	<div class="section text-center">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto">
				<h2 class="title">Our offer</h2>
				<h3 class="description">Here you will find some selected rooms:</h3>
			</div>
		</div>
		<div class="features row justify-content-center pt-4">
			{{ include('room/thumb_list.html.twig',
						{'rooms': randomRooms,
							'row_length': 3,
							'max_col_width': 22,
							'nothing_found_message': ''},
						with_context = false) }}
		</div>
	</div>
	<div class="section text-center">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto">
				<h2 class="title">All around the globe</h2>
				<h3 class="description">Rooms are available in many regions:</h3>
			</div>
		</div>
		<div class="features row justify-content-center pt-4">
			{{ include('region/thumb_list.html.twig',
						{'regions': randomRegions,
							'row_length': 3,
							'max_col_width': 22,
							'nothing_found_message': ''},
						with_context = false) }}
		</div>
	</div>
	<div class="section text-center">
		<h2 class="title">Here is our team</h2>
		<div class="team">
			<div class="row">
				<div class="col">
					<div class="team-player" id="team-member-paul">
						<div class="card card-plain">
							<div class="col-md-6 ml-auto mr-auto">
								<img src="" alt="$Image here$" class="img-raised rounded-circle img-fluid">
							</div>
							<h4 class="card-title">
								Paul Mabileau<br>
								<small class="card-description text-muted">$Role here$</small>
							</h4>
							<div class="card-body">
								<p class="card-description">$Card description here$</p>
							</div>
							<div class="card-footer justify-content-center">
								<a href="https://github.com/PositivePaulo" class="btn btn-link btn-just-icon"><i class="fa fa-github"></i></a>
								<a href="https://www.linkedin.com/in/paul-mabileau-b70ab3178/" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
								<a href="https://www.facebook.com/paul.mabileau" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="team-player" id="team-member-alex">
						<div class="card card-plain">
							<div class="col-md-6 ml-auto mr-auto">
								<img src="" alt="$Image here$" class="img-raised rounded-circle img-fluid">
							</div>
							<h4 class="card-title">
								Alexandre Da Costa<br>
								<small class="card-description text-muted">$Role here$</small>
							</h4>
							<div class="card-body">
								<p class="card-description">$Card description here$</p>
							</div>
							<div class="card-footer justify-content-center">
								<a href="#team-member-alex" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
								<a href="#team-member-alex" class="btn btn-link btn-just-icon"><i class="fa fa-github"></i></a>
								<a href="#team-member-alex" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock main %}

{% block additional_javascripts %}
	<script type="text/javascript">
		$('.datetimepicker').datetimepicker({
			'format': 'DD/MM/YYYY'
		});
	</script>
{% endblock additional_javascripts %}
