{% extends 'base.html.twig' %}


{% block title %}Welcome to {{ project_name }}!{% endblock %}

{% block body %}
	<header>
		{% block menu %}
			<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100">
				<div class="container">
					<div class="navbar-translate">
						<a class="navbar-brand" href="{{ path('home_page') }}">{{ project_name }}</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
							<span class="sr-only">Toggle navigation</span>
							<span class="navbar-toggler-icon"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="navbar-nav mr-auto">
							{{ render_bootstrap_menu('main_top_left') }}
						</ul>
						<ul class="navbar-nav ml-auto">
							{% if app.user %}
								{% if is_granted('ROLE_OWNER') %}
									{{ render_bootstrap_menu('main_top_right_owner_logged_in') }}
								{% else %}
									{{ render_bootstrap_menu('main_top_right_logged_in') }}
								{% endif %}
							{% else %}
								{{ render_bootstrap_menu('main_top_right_anonymous') }}
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
		{% endblock menu %}
	</header>
	
	{% block page_header %}					{# Default page-header: very small ~= non-existent #}
		<div class="page-header header-filter" data-parallax="true" style="height: 160px">
			<div class="container">
				{% block page_header_content %}{% endblock page_header_content %}
			</div>
		</div>
	{% endblock page_header %}
	<div class="main main-raised">
		<div class="container">
			{% block flash_bags %}
				{% for type, messages in app.session.flashBag.all() %}
					{% for message in messages %}
						<div class="alert alert-{{ type }} alert-dismissible" role="alert">
							<button type="button" class="ml-2 mb-1 close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<div class="text-center">
								<b><strong>{{ message }}</strong></b>
							</div>
						</div>
					{% endfor %}
				{% endfor %}
			{% endblock flash_bags %}
			{% block main %}{% endblock main %}
		</div>
	</div>
	<footer class="footer footer-default">
		<div class="container">
			<nav class="float-left">
				<ul>
					{{ render_bootstrap_menu('main_bottom_left') }}
				</ul>
			</nav>
		</div>
	</footer>
{% endblock body %}
