{% extends 'baselayout/no-page-header.html.twig' %}

{% block title %}Room{% endblock title %}

{% block main %}
	<div class="section text-center">
		<h2 class="title">{{ room.summary }}</h2>
		<hr class="my-4">
	</div>
	<div class="row">
		<div class="col-md-8">
			<div id="c" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					{% for image in room.getImageAssets() %}
						<div class="carousel-item {% if loop.first %}active{% endif %}">
							<img src="{{ asset(image.getAssetPath()) }}" class="d-block img-fluid">
						</div>
					{% endfor %}
				</div>
				<a class="carousel-control-prev" href="#c" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#c" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="col">
			<div class="card border-primary mb-3">
				<div class="card-header">
					<div class="row">
						<div class="col text-center">
							<p><strong>Capacity</strong></p>
						</div>
						<div class="col text-center">
							<p><strong>Area</strong></p>
						</div>
						<div class="col text-center">
							<p><strong>Price</strong></p>
						</div>
					</div>
					<div class="row">
						<div class="col text-center">
							<p>{{ room.getCapacity() }} <i class="fa fa-users"></i></p>
						</div>
						<div class="col text-center">
							<p>{{ room.getArea() }} <i class="fa fa-home"></i></p>
						</div>
						<div class="col text-center">
							<p>{{ room.getPrice() }} <i class="fa fa-eur"></i></p>
						</div>
					</div>
				</div>
				<div class="card-body text-primary">
					<h3 class="card-title">Description</h3>
					<p class="card-text">{{ room.getDescription() }}</p>
				</div>
				<hr class="my-3">
				<div class="card-body text-primary">
					<h3 class="card-title">Address</h3>
					<p class="card-text">{{ room.getAddress() }}</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row justify-content-center">
		<div class="col col-md-8">
			<div class="card card-raised">
				<div class="container">
				{{ form_start(reservationForm) }}
					<div class="row justify-content-center">
						<div class="col">
							<div class="form-group bmd-form-group">
								{{ form_label(reservationForm.startDate,
												'Start date',
												{'label_attr': {'class': 'label-control bmd-label-static'}}) }}
								{{ form_widget(reservationForm.startDate,
												{'attr': {'class': 'form-control datetimepicker'}}) }}
							</div>
						</div>
						<div class="col">
							<div class="form-group bmd-form-group">
								{{ form_label(reservationForm.endDate,
												'End date',
												{'label_attr': {'class': 'label-control bmd-label-static'}}) }}
								{{ form_widget(reservationForm.endDate,
												{'attr': {'class': 'form-control datetimepicker'}}) }}
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col">
							<div class="form-group bmd-form-group">
								{{ form_label(reservationForm.numberOfGuests,
												'Number of Guests',
												{'label_attr': {'class': 'label-control bmd-label-static'}}) }}
								{{ form_widget(reservationForm.numberOfGuests,
												{'attr': {'class': 'form-control selectpicker'}}) }}
							</div>
						</div>
						<div class="col text-center">
							<div class="form-group bmd-form-group">
								{{ form_widget(reservationForm.submit,
												{'label': 'Reserve',
													'attr': {'class': 'btn btn-md btn-primary'}}) }}
							</div>
						</div>
					</div>
				{{ form_end(reservationForm) }}
			</div>
			</div>
		</div>
	</div>
	
	<hr class="my-4">
	<p class="h2 title">Comments</p>
	<ul class="list-group">
		{% for comment in room.getComments() %}
			<li class="list-group-item">
				<div class="card">
					<div class="container">
						<div class="row">
							<div class="col">
								<h3 class="card-title">
									{{ comment.getUserAccount().getFirstName() }}
									{{ comment.getUserAccount().getLastName() }}
								</h3>
							</div>
							<div class="col text-right">
								<small>{{ comment.getDateTime().format('d/m/Y - H:i') }}</small>
							</div>
						</div>
						<p class="card-body text-center h5">
							{{ comment.getText() }}
						</p>
					</div>
				</div>
			</li>
		{% else %}
			<p class="text-center h4">No comment yet.</p>
		{% endfor %}
	
		<li class="list-group-item">
			<div class="card">
				<div class="container">
					<h3 class="card-title">
						Your comment
					</h3>
					<div class="card-body">
						{{ form_start(commentForm) }}
							<div class="row">
								<div class="col">
									<div class="form-group bmd-form-group">
										{{ form_label(commentForm.text,
													'Comment',
													{'label_attr': {'class': 'label-control bmd-label-floating'}}) }}
										{{ form_widget(commentForm.text,
														{'attr': {'class': 'form-control', 'rows': 4}}) }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group bmd-form-group">
										{{ form_widget(commentForm.submit,
														{'attr': {'class': 'btn btn-md btn-round btn-default'}}) }}
									</div>
								</div>
							</div>
						{{ form_end(commentForm) }}
					</div>
				</div>
			</div>
		</li>
	</ul>
	
	<br/>
	{% if app.user and is_granted('ROLE_ADMIN') %}
		{{ include('room/_delete_form.html.twig') }}
	{% endif %}
{% endblock main %}

{% block additional_javascripts %}
	<script type="text/javascript">
		$('.datetimepicker').datetimepicker({
			'format': 'DD/MM/YYYY'
		});
	</script>
{% endblock additional_javascripts %}
