{% extends 'baselayout/no-page-header.html.twig' %}

{% block title %}Room{% endblock title %}

{% block main %}
	<div class="section text-left">
		<center><h2 class="title">{{ room.summary }}</h2></center>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div id="c" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					{% for image in room.getImageAssets() %}
						<div class="carousel-item {% if loop.first %}active{% endif %}">
							<img src="{{ asset(image.getAssetPath()) }}" class="d-block img-fluid">
						</div>
					{% endfor %}
				</div>
				<a class="carousel-control-prev" href="#c" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#c" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="col">
			<div class="card border-primary mb-3">
				<div class="card-header">
					<div class="row">
						<div class="col text-center">
							<p><strong>Capacity</strong></p>
						</div>
						<div class="col text-center">
							<p><strong>Area</strong></p>
						</div>
						<div class="col text-center">
							<p><strong>Price</strong></p>
						</div>
					</div>
					<div class="row">
						<div class="col text-center">
							<p>{{ room.getCapacity() }} <i class="fa fa-users"></i></p>
						</div>
						<div class="col text-center">
							<p>{{ room.getArea() }} <i class="fa fa-home"></i></p>
						</div>
						<div class="col text-center">
							<p>{{ room.getPrice() }} <i class="fa fa-eur"></i></p>
						</div>
					</div>
				</div>
				<div class="card-body text-primary">
					<h3 class="card-title">Description</h3>
					<p class="card-text">{{ room.getDescription() }}</p>
				</div>
			</div>
		</div>
	</div>
	
	<table class="table">
		<tbody>
			<tr>
				<th>Address</th>
				<td>{{ room.getAddress() }}</td>
			</tr>
			<tr>
				<form>
					<div class="form-group">
						<th>Your comment</th>
						<td><input type="comment" class="form-control" id="Comment"></td>
					</div>
				</form>
			</tr>
			<tr>
				<th>Comments</th>
				<td>
					<ul>
						{% for comment in room.getComments() %}
							<li>
								{{ comment.getClient().getUserAccount().getFirstName() }}
								{{ comment.getClient().getUserAccount().getLastName() }}:
								{{ comment.getText() }}
							</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
	
	<br/>
	<button type="button" class="btn btn-primary btn-md">Reserve</button>
	
	{% if app.user and is_granted('ROLE_ADMIN') %}
		{{ include('room/_delete_form.html.twig') }}
	{% endif %}
{% endblock main %}
