{% extends 'baselayout/no-page-header.html.twig' %}

{% block title %}{{ project_name }} - Search{% endblock title %}

{% block main %}
	{{ form_start(form) }}
		<div class="row justify-content-center">
			<div class="col-md-4">
				<div class="form-group bmd-form-group">
					{{ form_label(form.room,
									'Room',
									{'label_attr': {'class': 'bmd-label-floating'}}) }}
					{{ form_widget(form.room,
									{'value': roomSearch,
									'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="form-group bmd-form-group">
					{{ form_label(form.region,
									'Region',
									{'label_attr': {'class': 'bmd-label-floating'}}) }}
					{{ form_widget(form.region,
									{'value': regionSearch,
									'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="form-group bmd-form-group">
					{{ form_label(form.startDate,
									'Start date',
									{'label_attr': {'class': 'label-control bmd-label-static'}}) }}
					{{ form_widget(form.startDate,
									{'value': startDateSearch,
									'attr': {'class': 'form-control datetimepicker'}}) }}
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="form-group bmd-form-group">
					{{ form_label(form.endDate,
									'End date',
									{'label_attr': {'class': 'label-control bmd-label-static'}}) }}
					{{ form_widget(form.endDate,
									{'value': endDateSearch,
									'attr': {'class': 'form-control datetimepicker'}}) }}
				</div>
			</div>
		</div>
		
		<div class="row align-items-center justify-content-end">
			<div class="col-md-6">
				<div id="priceRangeSlider" class="slider"></div>
				{{ form_widget(form.minPrice) }}
				{{ form_widget(form.maxPrice) }}
			</div>
			
			<div class="col-sm-3">
				<span class="pull-right">
    				{{ form_widget(form.submitButton,
    								{'label': 'Search',
    									'attr': {'class': 'btn btn-md btn-primary'}}) }}
				</span>
			</div>
		</div>
	{{ form_end(form) }}
	
	<hr class="my-5"/>
	{{ include('room/thumb_list.html.twig',
				{rooms: rooms,
					row_length: 3,
					max_col_width: 22,
					nothing_found_message: 'Sorry, no available room fits your search.'},
				with_context = false) }}
{% endblock main %}

{% block additional_javascripts %}
	<script type="text/javascript">
		$('.datetimepicker').datetimepicker({
			'format': 'DD/MM/YYYY'
		});
		
		
		var priceRangeSlider = document.getElementById("priceRangeSlider");
		
		noUiSlider.create(priceRangeSlider, {
			'start': [{{ minPriceSearch }}, {{ maxPriceSearch }}],
			'range': {
				'min': [{{ minMinPrice }}],
				'max': [{{ maxMaxPrice }}]
			},
			'step': 5,
			'tooltips': true,
			'connect': true
		});
		
		updatePriceInputs = function() {
			var rangePrices = priceRangeSlider.noUiSlider.get();
			$("#{{ form.minPrice.vars.id }}").val(rangePrices[0]);
			$("#{{ form.maxPrice.vars.id }}").val(rangePrices[1]);
		};
		
		updatePriceInputs();
		priceRangeSlider.noUiSlider.on('set', updatePriceInputs);
	</script>
{% endblock additional_javascripts %}

