<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}$TITLE HERE${% endblock title %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
			<link href="{{ asset('css/material-kit.min.css') }}" rel="stylesheet" />
		{% endblock stylesheets %}
	</head>
	<body>
		{% block body %}{% endblock body %}
		{% block javascripts %}
			<script src="{{ asset('js/core/jquery.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('js/core/popper.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('js/core/bootstrap-material-design.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('js/plugins/moment.min.js') }}"></script>
			{# Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker #}
			<script src="{{ asset('js/plugins/bootstrap-datetimepicker.js') }}" type="text/javascript"></script>
			{# Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ #}
			<script src="{{ asset('js/plugins/nouislider.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('js/material-kit.js') }}" type="text/javascript"></script>
			<script async defer src="https://buttons.github.io/buttons.js"></script>
			<script type="text/javascript">
				$(document).ready(function() {
					try {
						materialKit.initFormExtendedDatetimepickers();
					}
					catch (exc) {}
					
					try {
						materialKit.initSliders();
					}
					catch (exc) {}
				});
			</script>
			{% block additional_javascripts %}{% endblock additional_javascripts %}
		{% endblock javascripts %}
	</body>
</html>
