
<div class="card card-raised border-primary" style="max-width: {{ max_col_width }}rem;">
	<a href="{{ path('region_show', {'id': region.getId()}) }}">
		<div class="card-header card-header-success">
			Region {{ index }}
		</div>
		
		{% if region.getImageAssets()|length != 0 %}
			<img src="{{ asset((region.getImageAssets()|first).getAssetPath()) }}" class="card-img-top" alt="Region {{ index }}"/>
		{% else %}
			<div class="display-1">
				<i class="fa fa-image"></i>
			</div>
		{% endif %}
		
		<div class="card-body">
			<h5 class="card-title">
				{{ region.getName() }}
			</h5>
			<p class="card-text">
				{{ region.getPresentation() }}
			</p>
		</div>
	</a>
</div>
